<nav class="navbar is-transparent glass my-6 px-4" role="navigation" aria-label="main navigation">
  
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= relative_url '/' %>">
      <img src="https://res.cloudinary.com/leesheppard/image/upload/v1496495524/Lee-Sheppard-Black_iv1j84.png">
    </a>

    <div class="peace">	
      <img src="https://res.cloudinary.com/leesheppard/image/upload/c_crop,w_672/v1646191467/cactus/cactus_character_hippy.png" width="150">
    </div>

    <a role="button" class="navbar-burger mt-2" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a class="navbar-item" href="https://www.threads.net/@leesheppard">
        <i class="fa-regular fa-arrow-trend-up fa-2xs is-hidden-desktop"></i> 
        <i class="fa-brands fa-threads"></i> <span class="is-hidden-desktop">Threads</span>
      </a>
      <a class="navbar-item" href="https://www.instagram.com/leesheppard">
        <i class="fa-regular fa-arrow-trend-up fa-2xs is-hidden-desktop"></i> 
        <i class="fa-brands fa-instagram"></i> <span class="is-hidden-desktop">Instagram</span>
      </a>
      <a class="navbar-item" href="<%= relative_url '/about' %>">
        <i class="fa-regular fa-arrow-right fa-2xs is-hidden-desktop"></i> About
      </a>
      <a class="navbar-item" href="<%= relative_url '/posts' %>">
        <i class="fa-regular fa-arrow-right fa-2xs is-hidden-desktop"></i> Posts
      </a>
    </div>
  </div>

</nav>

