.container {
	margin: 100px auto;
	width: 600px
}
.grid-container {
	display: grid;
	gap: 0 0;
	grid-template-columns: 90px 90px 90px 90px 90px;
}

.grid-item {
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.image {
	height: 400px;
	width: 90px;
	object-fit: cover;
	object-position: 0% 0;

	&.one {
		margin-top: 15px;
		object-position: 20% 0;
	}

	&.two {
		object-position: 25% 0;
	}

	&.three {
		margin-top: 28px;
		object-position: 55% 0;
	}

	&.four {
		margin-top: 8px;
		object-position: 80% 0;
	}

	&.five {
		margin-top: 15px;
		object-position: 100% 0;
	}
}

.signature {
	display: flex;
	flex-direction: row;
}